<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BoilerplateHomepage ANY>
<!ATTLIST BoilerplateHomepage id ID #REQUIRED>
<!ELEMENT BoilerplatePage ANY>
<!ATTLIST BoilerplatePage id ID #REQUIRED>

]>
<root id="-1">
  <BoilerplatePage id="1058" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-06-25T16:12:31" updateDate="2014-07-01T12:17:53" nodeName="page" urlName="page" path="-1,1058" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1062" nodeTypeAlias="BoilerplatePage">
    <pageTitle>the page</pageTitle>
    <pageContent><![CDATA[<p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Proin eget tortor risus. Nulla porttitor accumsan tincidunt. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>]]></pageContent>
    <imageselector>1253</imageselector>
  </BoilerplatePage>
</root>